/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; 
deep-orange darken-4
*/

:root {
    --primary-color: #27a59a; /* bright green */
    --secondary-color: #27a59a; /* blue */
    --tertiary-color: #27a59a; /* lighter blue */
    --font-color: #27a59a; /* light green */
    --font-secondary: #cccccc; /* light grey */
    --hover-color: #262626; /* darkish grey*/

    --bg-color: #292929; /* Dark gray */
    --bg-color-2: #303030;
    --heading-color: #FFFFFF; /* white */
  }
  
[data-theme="light"] {
    --primary-color: #27a59a;
    --secondary-color: #27a59a;
    --font-color: #27a59a; /* light green */
    --font-secondary: #cccccc; /* light grey */
    --hover-color: #E5E5E5; /* light grey*/
    --bg-color: #fff;
    --bg-color-2: #fff;
    --heading-color: #00131A;
}

  
html {
    background-color: var(--bg-color);
}
body {
    padding-bottom:20px;
    height:100vh;
}

h1 {
    color:var(--heading-color);
    font-size:2em;
    font-weight: 100;
}

h2 {
    color:var(--tertiary-color);
    font-size:1.5em;
    font-family: 'Montserrat', sans-serif;
}
h4 {
    color:var(--heading-color);
    font-weight: 100;
}
a {
    text-decoration: none;
    color:var(--heading-color);
}
a:hover {
    color: var(--primary-color);
}

p {
    font-family: 'Montserrat', sans-serif;
    color: var(--heading-color);
    font-weight: 100;
    margin:12px;
}
.p-large {
    font-size:32px;
    line-height:1.10;
}
form {
    color:var(--heading-color);
}
.card {
    background-color:var(--bg-color);
}
.card-title {
    font-size: 200%;
}
.card-content {
    margin-top:24px;
}

input {
    color: var(--heading-color);
}

textarea {
    color: var(--heading-color);
    height:160px;
}

.clear-fix {
    /* content: "";
    display: table; */
    clear: both;
}


.btn {
    margin:10px;
}



.welcome-header {
    font-size:12px;
    font-weight:100;
    margin-left:20%;
    display: inline;
}
@media only screen and (max-width:1230px){
    .welcome-header {
        display: none;
    }
}
.parallax-container {
    height:100vh;
  }

.hero-logo img {
    top: -800px;
    width: auto;
    z-index: 3;
}

@-webkit-keyframes slideintop { from { top: -1600px} to { top: -800px }  }
    @keyframes slideintop { from { top: -1600px} to { top: -800px }  }
.hero-logo {
   display: flex;
   height: 0;
   justify-content: center;
}
.hero-logo img{
    width:auto;
    height:40vh;
    position: relative;
    animation: 3s slideintop 0s ease-in-out;

}
.border-left-p {
    border-left: 3px solid var(--heading-color);
    padding-left:18px;
    margin-top:18px;
}

footer {
    background-color: var(--bg-color);
    padding-bottom: 24px;
}
#materialbox-overlay {
    background-color:var(--bg-color);
}

.container {
    margin-bottom:40px;
}
.comment-list {
    padding: 12px;
    margin: 12px;
}

.blog-post-div {
    margin-top:1.5em;
}
.blogpost-p {
    font-size:1.25em;
    line-height: 1.5;
}
.card-action-link {
    color:var(--font-color);
}

.admin-container {
    /* margin-left:40%; */
    width:100%;
}

.index-grid-img {
    height:500px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size:cover;

}
.index-grid-1-1 {
    padding-bottom: 30px;
}

.desktop-nav {
    display:none;
}
@media only screen and (min-width:993px){

    .mobile-nav {
        display:none;
    }

    .desktop-nav {
        display: inherit;
    }

    .index-grid {
        display:grid;
        grid-template-rows:500px 500px;
        grid-template-columns: 1fr 1fr ;
    }

    .hero-logo img {
        height:650px;
        top: -800px;
        width: auto;
    }

    .index-grid-1-1 {
        grid-row: 1span/ 1;
        grid-column: 1span/ 1;
        
    }

    .index-grid-1-2 {
        grid-row: 1span/ 1;
        grid-column: 2span/ 1;
    }
    .index-grid-2-1 {
        grid-row: 2span/ 1;
        grid-column: 1span/ 1;
    }
    .index-grid-2-2 {
        grid-row: 2span/ 1;
        grid-column: 2span/ 1;
    }

    .gallery-section {
        display:flex;
        align-items: center;
    
    }
    footer {
        bottom:0;
        width: 100%;
    }
    
    footer .container {
        display: flex;
        justify-content: space-around;
    }

    footer h1 {
        color: var(--font-secondary);
    }

    .footer-grid {
        
        display:grid;
        grid-template-rows: 10vh;
        grid-template-columns:1fr 1fr 1fr;
    }
    .footer-grid-section-1 {
        margin-right:50px;
        grid-row: 1span/ 1;
        grid-column: 1span/ 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;;
        align-items: center;
    }
    .footer-grid-section-2 {
        grid-row: 1span/ 1;
        grid-column: 2span/ 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;;
        align-items: center;
    }
    .footer-grid-section-3 {
        grid-row: 1span/ 1;
        grid-column: 3span/ 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;;
        align-items: center;
    }
}