{% extends 'base.html' %} 
{% load static %}

{% block content %}

 <div class="parallax-container">
      <div class="parallax"><img src="{% static 'images/kip1.jpg' %}"></div>
    </div>

<main >
    <!-- <div class="hero-logo">
        <img src="{% static 'images/logo.png' %}" alt="photova logo">
    </div> -->


<section class="index-grid">
    <div class="index-grid-1-1">
        <div class="container">
            <h1>About</h1>
            <p class="border-left-p p-large">Birth photography captures one of the most significant events that a family will experience. It is an instance that changes lives forever and is one of the most important and rewarding to document.  
            </p>
        </div>
    </div>
    
    <div class="index-grid-1-2">
        <div class=" hide-on-med-and-down">
           <div class="index-grid-img" style="background-image: url('{% static 'images/bg1.jpg' %}')"></div>
        </div>
    </div>
     <div class="index-grid-2-1">
        <div class="">
           <div class="index-grid-img" style="background-image: url('{% static 'images/me1.jpg' %}')"></div>
        </div>
    </div>

     <div class="index-grid-2-2">
        <div class="container">
            <h1>My Passion</h1>
            <p class="border-left-p p-large">I am based in <strong>Bend Oregon</strong>, and feel priveledged to be able to call Central Oregon my home since childhood when I received my first DSLR. It has been an amazing setting in which to practice my art.
            </p>
        </div>

    </div>
</section>
    
<section class="index-grid">
    <div class="index-grid-1-1">
        <div class="container">
            <h1>Pricing Packages</h1>
            <p class="border-left-p p-large">I offer a variety of pricing options. If you have a photo shoot idea that sounds exciting, I am sure we can come to an agreement that satisifies both of us. Typically I offer three categories; Mini Sessions, Extended Sessions, and all Inclusives.
            </p>
           
        </div>
    </div>
    
    <div class="index-grid-1-2">
        <div class=" hide-on-med-and-down">
           <div class="index-grid-img" style="background-image: url('{% static 'images/familyportfolio1.jpg' %}')"></div>
        </div>
    </div>
     <div class="index-grid-2-1">
        <div class="">
           <div class="index-grid-img" style="background-image: url('{% static 'images/charleebg1.jpg' %}')"></div>
        </div>
    </div>

     <div class="index-grid-2-2">
        <div class="container">
            <h1>Features</h1>
            <p class="border-left-p p-large">Our time together will vary depending on package. A mini session is a quick 30 minute photo shoot, resulting in around 20 edited images. Other options range from any amount of time up to the all inclusive 2 hour session, with over 40 edits.
            </p>
        </div>

    </div>
</section>
</main>

{% endblock content%}
{% block js%}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems);
  });

</script>
{% endblock %}