{% extends 'base.html' %} 

{% block content %}
<div class="container">
        <h2>User Signup</h2>
    <!-- Old form, does not include privacy policy field
        
            <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}    
            <input class="waves-effect waves-light btn" type="submit" value="Sign Up">
                <a class="waves-effect waves-light btn deep-orange darken-4" href="{% url 'gallery:gallery' %}">Cancel</a>

        </form> -->
    <form action="" method="POST">    
        {% csrf_token %}
        <p>
            <label for="">User Name</label>
            {{ form.username }}
        </p>
        <p>
            <label for="">Email</label>
            {{ form.email }}
        </p>
         <p>
            <label for="">Password</label>
            {{ form.password1 }}
            <br>Your password can't be too similar to your other personal information.
            <br>Your password must contain at least 8 characters.
            <br>Your password can't be a commonly used password.
            <br>Your password can't be entirely numeric.
        </p>
        <p>
                <label for="">Password Confirmation</label>
                {{ form.password2 }}
                <p>Enter the same password as before, for verification</p>
            </p>
         <p>
            <label>
            {{ form.terms_and_conditions }}
            <span>By checking this box you agree that you have read and agree to our <a href="https://app.termly.io/document/privacy-policy/cda6d91a-45ba-4401-b735-9901b4e83337" target="_blank">Privacy Policy</a></span>
            </label>
        </p>

        <input class="right waves-effect waves-light btn" type="submit" value="Sign Up">
        <a class="waves-effect waves-light btn right deep-orange darken-4" href="{% url 'gallery:gallery' %}">Cancel</a>

        <br class="clear-fix">
    </form>

</div>



{% endblock content %}